<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Welcome to the page</h1>
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  
  <button type="submit">Log In</button>
</form>
<style>
    html,
    body {
      height: 100%;
    }
    
    body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #86c7e6;
    }
    
    
    
    
    </style>
    
{% endblock %}